Source: mvsim
Section: misc
Priority: optional
Maintainer: Jose Luis Blanco Claraco <joseluisblancoc@gmail.com>
Build-Depends:
	debhelper (>= 10.0.0),
	dh-python,
	libmrpt-opengl-dev (>= 2.0.0),
	libmrpt-obs-dev (>= 2.0.0),
	libmrpt-maps-dev (>= 2.0.0),
	libmrpt-gui-dev (>= 2.0.0),
	libmrpt-tfest-dev (>= 2.0.0),
	libmrpt-tclap-dev (>= 2.0.0),
	cmake,
	libbox2d-dev,
	protobuf-compiler,
	libprotobuf-dev,
	libzmq3-dev,
	pybind11-dev (>= 2.2.0),
	python3-dev,
	python3-setuptools,
	python3-pip,
	python3-venv,
Standards-Version: 4.5.0

Package: libmvsim-comms0.4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-msgs0.4 (= ${binary:Version})
Description: Multi vehicle efficient dynamics simulator - communications
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains the C++ library for communications.

Package: libmvsim-comms-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-comms0.4 (= ${binary:Version}),
         libprotobuf-dev, libmrpt-core-dev
Description: Multi vehicle efficient dynamics simulator - comms dev package
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains C++ development files: headers, the .so symlink, and
 cmake files.


Package: libmvsim-msgs0.4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi vehicle efficient dynamics simulator - messages
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains the C++ library for communications.

Package: libmvsim-msgs-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-msgs0.4 (= ${binary:Version}),
         libprotobuf-dev
Description: Multi vehicle efficient dynamics simulator - messages dev package
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains C++ development files: headers, the .so symlink,
 cmake files, and the .proto message definition files.


Package: libmvsim-simulator0.4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-comms0.4 (= ${binary:Version})
Description: Multi vehicle efficient dynamics simulator - simulator
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains the C++ library for communications.

Package: libmvsim-simulator-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-simulator0.4 (= ${binary:Version}),
         libmrpt-maps-dev
Description: Multi vehicle efficient dynamics simulator - simulator dev package
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains C++ development files: headers, the .so symlink, and
 cmake files.


Package: libmvsim-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
          libmvsim-comms-dev,
          libmvsim-simulator-dev,
          libmvsim-msgs-dev
Description: Multi vehicle efficient dynamics simulator - all development files
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This metapackage contains C++ development files: headers, the .so symlink, and
 cmake files.

Package: mvsim-apps
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmvsim-simulator0.4 (= ${binary:Version}),
         libmvsim-comms0.4 (= ${binary:Version})
Description: Multi vehicle efficient dynamics simulator - GUI applications
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains the mvsim-cli main application.

Package: python3-mvsim
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
         libmvsim-simulator0.4 (= ${binary:Version}),
         libmvsim-comms0.4 (= ${binary:Version})
Description: Multi vehicle efficient dynamics simulator - python3 bindings
 Lightweight, realistic dynamical simulator for 2D ("2.5D") vehicles and robots.
 It is tailored to analysis of vehicle dynamics, wheel-ground contact forces
 and accurate simulation of typical robot sensors (e.g. laser scanners).
 .
 This package contains the python3 bindings.
