#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/architecture.mk

BUILDDIR = obj-$(DEB_HOST_MULTIARCH)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CMAKE_FLAGS = \
	-DCMAKE_BUILD_TYPE=Release	\
	-DCMAKE_CXX_FLAGS_RELEASE="$(CXXFLAGS)" \
	-DCMAKE_C_FLAGS_RELEASE="$(CFLAGS)" \
	-DCMAKE_EXE_LINKER_FLAGS_RELEASE="$(LDFLAGS)" \
	-DCMAKE_INSTALL_LIBDIR="lib/$(DEB_HOST_MULTIARCH)" \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_SKIP_RPATH=ON \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DPYTHON_INSTALL_DIRECTORY="../debian/tmp/usr/" \
	$(CMAKE_ARCH_FLAGS)

%:
	dh $@ --with python3 --buildsystem=cmake

override_dh_auto_configure:
	# For debugging:
	env

	dh_auto_configure -B $(BUILDDIR) \
		-- $(CMAKE_FLAGS) \
		-DCMAKE_SHARED_LINKER_FLAGS_RELEASE="$(LDFLAGS)" \
		-DBUILD_SHARED_LIBS=ON


override_dh_auto_install:
	dh_auto_install -B $(BUILDDIR)
	# Install python:
	dh_auto_build -O--buildsystem=cmake -- python-install

	# If we have libbox2d < 2.4 (or none), install the custom, embedded version of it:
	# empty line first:
	echo "" >> debian/libmvsim-simulator-dev.install
	echo "usr/lib/*/libbox2d.a" >> debian/libmvsim-simulator-dev.install
	echo "usr/lib/*/cmake/box2d/*" >> debian/libmvsim-simulator-dev.install
	echo "usr/include/box2d/" >> debian/libmvsim-simulator-dev.install

override_dh_missing:
	dh_missing --list-missing
