<?xml version="1.0"?>
<!-- ROS1 launch file. See *.launch.py files for ROS2 launch files -->
<launch>
	<arg name="world_file" default="$(find mvsim)/mvsim_tutorial/mvsim_slam.world.xml" />

	<node pkg="mvsim" type="mvsim_node" name="mvsim_simulator" output="screen">
		<param name="world_file" value="$(arg world_file)"/>    
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mvsim)/mvsim_tutorial/mvsim_slam.rviz"/>

	<!--PARAMETERS-->
	<param name="ini_filename" value="$(find mrpt_rbpf_slam)/tutorial/grid_slam_demo.ini"/>
	<param name="odom_frame_id" value="odom"/>
	<param name="global_frame_id" value="map"/>
	<param name="base_frame_id" value="base_link"/>
	<param name="sensor_source" value="scan"/> <!--for multiple sensors, place comma eg "r1/front_laser/scan,/beacon" -->

	<node pkg="mrpt_rbpf_slam" type="mrpt_rbpf_slam" name="mrpt_rbpf_slam" output="screen"></node>

</launch>
