<!-- Generic ROS1 launch file -->
<!-- Read: https://mvsimulator.readthedocs.io/en/latest/mvsim_node.html  -->

<launch>
    <!-- Arguments -->
    <arg name="world_file" />
    <arg name="headless" default="False" />
    <arg name="do_fake_localization" default="True" />
    <arg name="publish_tf_odom2baselink" default="True" />
    <arg name="force_publish_vehicle_namespace" default="False" />
    <arg name="use_rviz" default="True" />
    <arg name="rviz_config_file" default="$(find mvsim)/mvsim_tutorial/demo_depth_camera.rviz" />

    <!-- mvsim Node -->
    <node pkg="mvsim" type="mvsim_node" name="mvsim" output="screen">
        <param name="world_file" value="$(arg world_file)"/>
        <param name="headless" value="$(arg headless)"/>
        <param name="do_fake_localization" value="$(arg do_fake_localization)"/>
        <param name="publish_tf_odom2baselink" value="$(arg publish_tf_odom2baselink)"/>
        <param name="force_publish_vehicle_namespace" value="$(arg force_publish_vehicle_namespace)"/>
    </node>

    <!-- RViz Node (conditional launch based on use_rviz argument) -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>
    </group>
</launch>
